@{
    ViewData["Title"] = "About-Environment Configuration";
}
<h2>@ViewData["Title"]</h2>

<b>HostName:</b> @ViewData["HostName"]<br />
<b>OS:</b> @ViewData["OS"]<br />
<b>ProcessArchitecture:</b> @ViewData["PROCESSOR_ARCHITEW6432"]<br />

<b>ASPNET_Env:</b> @ViewData["ASPNET_Env"]<br />
<br />
<br />
<p>Running in a container </p>